<!DOCTYPE html>
<html lang="en">
  <head>
    <title>shopping cart</title>
    <meta name="description" content="shopping chart for telegram">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  <body>
  <form method="post" target="_blank" onkeydown="return event.key != 'Enter';">
    <div class=" container">
      <div class="table">
        <!-- product header -->
          <div class="layout-inline row th">
            <div class="col col-pro">Product</div>
            <div class="col col-price align-center "> 
               Price
            </div>
            <div class="col col-vat ">Currency</div>
            <div class="col col-qty align-center">QTY</div>
            <div class="col align-center">Total</div>
          </div>
        <!-- product start in -->
          {{category|safe}}
          <div class="tf">
            <div class="row layout-inline ">
              <div class="col col-qty layout-inline">
                <p>Total</p>
              </div>
              <div class="col col-numeric align-center">
                <p id="over-all">0.00</p>
              </div>
            </div>
          </div>         
      </div>
        
      <a href="#" class="btn btn-update">Order</a>
      <input type="submit"  class="btn btn-submit" value="Order">
    </div>
  </form>
    <script src="static/script.js"></script>
  </body>
</html>