<div class="layout-inline row">
    <div class="col col-pro layout-inline">
       <img src={{img}} alt="no image" />
       <p>
           {{ItemName|safe}}
       </p>
    </div>
<div class="col col-price col-numeric align-center " id="price">
    <p>
        {{UnitPrice|safe}}
    </p>
</div>
<div class="col col-vat ">
    <p>
        {{currency|safe}}
    </p>
</div>
<div class="col col-qty layout-inline" id={{ShortCode|safe}}>
    <a href="#" class="qty qty-minus">-</a>
      <input type="numeric" value="0" />
    <a href="#" class="qty qty-plus">+</a>
</div>
  <div class="col col-total col-numeric align-center" id="pro-total">
    <p> 0.00</p>
  </div>
</div>
    