html {
    background: #bbc3c6;
    font: 62.5%/1.5em 'Trebuchet Ms', helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: Shopper, sans-serif;
    src: url('http://www.shopperfont.com/font/Shopper-Std.ttf');
}

p {
    font-size: 1.5em;
    line-height: 1em;
    color: rgb(0 0 0 100%);
}

#qty {
    border: 0.1em solid #bbc3c6;
    padding: 0.5em 0.3em;
    font-size: 1.4em;
    color: rgb(0 0 0 100%);
    text-align: center;
}

img {
    max-width: 9em;
    width: 100%;
    overflow: hidden;
    margin-right: 1em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 900px;
    width: 95%;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138 148 152 20%);
}

.cart {
    overflow: hidden;
}

.table {
    background: #ffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
    margin-bottom: 1.8em;
}

.layout-inline > * {
    display: inline-block;
}

.align-center {
    text-align: center;
}

.th {
    background: #1a457c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.tf {
    background: #1a457c;
    text-transform: uppercase;
    font-size: 1.2em;
}

.cat {
    background: #25a073;
}

.cat p {
    color: rgb(255 255 255 100%);
    text-transform: uppercase;
    font-size: 1.5em;
}

.tf p {
    color: #fff;
    font-weight: bold;
}

.col {
    padding: 1em;
    width: 12%;
}

.col-pro {
    width: 26%;
}

.col-pro > * {
    vertical-align: middle;
}

.col-qty {
    text-align: center;
    width: 33%;
}

.col-numeric p {
    font: bold 1.8em helvetica, sans-serif;
}

.col-total p {
    color: #216a60;
}

.row > div {
    vertical-align: middle;
}

.row-bg2 {
    background: #e9e9e9;
}

.col-qty > * {
    vertical-align: middle;
}

.col-qty > input {
    width: 48px;
    height: 48px;
    margin: 0 1.5em;
    border-radius: 25%;
}

a.qty {
    width: 48px;
    height: 48px;
    line-height: 1em;
    border-radius: 2em;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background: #1a457c;
    color: #fff;
}

a.qty:hover {
    background: #3b9ac6;
}

.item:hover {
    background: #0d0d0e;
    color: #fff;
}

.btn {
    padding: 10px 30px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    background: #206b02;
    color: #fff;
    box-shadow: 0 3px 0 rgb(59 154 198 100%);
}

.btn:hover {
    box-shadow: 0 3px 0 rgb(59 154 198 0%);
}

.btn-update {
    float: right;
    margin: 0 1.5em 1.5em 0;
}

.btn-submit {
    float: right;
    margin: 0 1.5em 1.5em 0;
    background: #f00606;
}

.transition {
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 781px) {
    .container {
        width: 100%;
    }

    .th {
        display: none;
    }

    .col-pro {
        width: 100%;
        text-align: left;
    }

    .col-price {
        width: 19%;
        text-align: right;
    }

    .col-vat {
        width: 49%;
        text-align: left;
    }

    .col-qty {
        width: 50%;
        margin-left: 1.5em;
    }

    .col-total {
        width: 100%;
        text-align: left;
        margin-left: 3.5em;
    }

    .tf > div {
        width: 50%;
    }

    img {
        max-width: 30%;
        margin-bottom: 1em;
    }

    .col-pro > p {
        font-size: 2.5em;
    }

    .col-qty > input {
        margin: 1em 2em;
    }
}

@media screen and (max-width: 493px) {
    .col-qty {
        width: 70%;
        margin-left: 1.5em;
    }

    .col-total {
        margin-left: 3em;
    }

    img {
        max-width: 40%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 339px) {
    .col-qty {
        width: 80%;
        margin-left: 0.25em;
    }

    .col-total {
        margin-left: 2em;
    }

    img {
        max-width: 45%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 299px) {
    .col-qty > input {
        margin: 0.3em;
    }

    img {
        max-width: 50%;
        margin-bottom: 1em;
    }
}
